
  #game {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    justify-content: center;
}
#new-game {
    text-align: center;
}
#whoStart{
    margin-bottom: 10px;
}
.gamePosition {
  background-color: #ccc;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

section {
  width: 45%;
  min-width: 700px;
  background-color: rgb(0, 255, 179);
  padding: 50px 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 0 35px 35px ;
}
